<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sentence Tool</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div text-center>{{currentSentence}}</div>
  <div *ngIf="words.length != 0" [dragula]='"sentence-bag"' [dragulaModel]='words' class="sentence">
    <div *ngFor='let word of words' style="text-transform: none;" class="sentence-word">
      {{word.word}}
    </div>
  </div>
  <div *ngIf="words.length == 0">No sentence add some words.</div>
</ion-content>
