<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Word Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1 class="word"> {{selectedWord.word}}</h1>
  <h1 class="font-pIqaD">{{pIqaD}}</h1>
  <div class="word-glimps">
    <h3 class="word-type">{{selectedWord.type}}</h3>
    <span class="word-def">{{selectedWord.shortDef}}</span>
  </div>

  <div class="definition">
    <h1>Definition</h1>
    <div *ngFor="let def of selectedWord.def">{{def}}</div>
  </div>

  <div class="sources" *ngIf="selectedWord.sources">
    <h1>Source</h1>
    <span *ngFor="let source of selectedWord.sources">{{source}}</span>
  </div>
</ion-content>
