page-word-details {
  .word{
    font-size: 3em;
    font-weight: bolder;
    margin-bottom: 0;
  }
  .font-pIqaD{
    font-size: 3em;
    margin-top: 0;
  }
  .definition{
    margin-bottom: 20px;
  }
  .word-glimps{
    margin-bottom: 20px;
  }
}
